.movie {
  margin: 1rem;
  padding: 1rem 2rem;
  background-color: #6B6ECC;
  background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
}

.movie h2 {
  margin: 1rem 0.5rem;
  color: rgba(255, 255, 255, 0.64);
  font-size: 2rem;
}

.movie h3 {
  margin: 0;
  color: white;
  font-size: 1rem;
}

.movie p {
  line-height: 1.4rem;
}